.search-qq-container {
  display: flex;
  flex-direction: column;
  margin:10px;
  .search-qq-title {
    font-size: 16px;
  }
  .search-info {
    input {
      outline: none;
      border: none;
      border-bottom: 1px solid #ccc;
    }
  }
  .search-result{
    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      h4{
        line-height: 20px;
        margin: 0;
      }
      .desc{
        flex:1;
        display: flex;
        align-items: center;
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
  }
}

ul,li {
  list-style-type: none;
}